<%- partial('partials/post_sidebar') %>

<div class="content with-sidebar blog post">
    <%- partial('partials/ad') %>
    <h1><%- page.title %></h1>
      <div class="container">
        <div class="row">
          <div class="col">
            <%- page.date.format('MMM D[,] YYYY') %>
          </div>
          <div class="col" style="text-align:right;padding-right:32px;">
            <% if (page.categories && page.categories.length){ %>
              <div class="article-category">
                <%- list_categories(page.categories, {
                  show_count: false,
                  class: 'article-category',
                  style: 'none',
                  separator: '►'
                }) %>
              </div>
            <% } %>
          </div>
        </div>
      </div>

    <%- page.content %>

    <footer class="post-footer">
        <div class="post-tags">
            <% page.tags.forEach(function(tag){ %>
                <a class="tag" href="<%= config.root %>tags/<%= tag.name %>/" title="<%= tag.name %>"><%= tag.name %></a>
            <% }) %>
        </div>

        <nav class="pagination">
          <% if (page.prev){ %>
          <a class="prev button" href="<%- config.root %><%- page.prev.path %>" title="<%- page.prev.title %>">
            <i class="iconfont icon-left"></i>
            <span class="prev-text"><%- page.prev.title %></span>
          </a>
          <% } %>

          <% if (page.next){ %>
          <a class="next button" href="<%- config.root %><%- page.next.path %>" title="<%- page.next.title %>">
            <span class="next-text"><%- page.next.title %></span>
            <i class="iconfont icon-right"></i>
          </a>
          <% } %>
        </nav>
    </footer>
</div>
