<%- partial('partials/post_sidebar') %>

<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %>">
    <h1><%=title%></h1>
    <section id="archive" class="archive">
      <% page.posts.each(function(article) { %>
      <div class="archive-post">
        <span class="archive-post-time">
            <%=date(article.date)%>
        </span>
        <span class="archive-post-title">
          <a href="<% if (article.link) { %><%=url_for(article.link)%><% } else { %><%=url_for(article.path)%><% } %>" class="archive-post-link">
            <%=article.title || 'No Title'%>
          </a>
        </span>
      </div>
      <% }); %>
    </section>

    <%- partial('partials/pagination') %>
</div>