<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="<%- url_for("/document/") %>" class="nav-link<%- page.path.match(/document/) ? ' current' : '' %>">开发文档</a></li>
<li><a href="<%- url_for("/archives/") %>" class="nav-link<%- page.path.match(/archives/) ? ' current' : '' %>">动态</a></li>
<li><a href="<%- url_for("/ecosystem/") %>" class="nav-link<%- page.path.match(/ecosystem/) ? ' current' : '' %>">社区</a></li>
<li><a href="<%- url_for("/download/") %>" class="nav-link<%- page.path.match(/download/) ? ' current' : '' %>">下载</a></li>
<li><a href="<%- url_for("/support/") %>" class="nav-link<%- page.path.match(/support/) ? ' current' : '' %>">捐赠</a></li>
<li><a href="<%- url_for("/contribution/") %>" class="nav-link<%- page.path.match(/contribution/) ? ' current' : '' %>">贡献者</a></li>
<li><a href="<%- url_for("/about/") %>" class="nav-link<%- page.path.match(/about/) ? ' current' : '' %>">关于我们</a></li>
<%- partial('partials/language_dropdown') %>