<ul class="menu-root">
    <% type !== 'api' && site.pages.find({type: type}).sort('order').each(function (p) { %>
        <%- partial('partials/v4_menu') %>
        <% var fileName = p.path %>
        <% if (type === 'v4') { %>
            <% if (fileName === 'v4/preface/index.html') { %>
                <li><h3>preface</h3></li>
            <% } %>
            <% if (fileName === 'v4/started/index.html') { %>
                <li><h3>started</h3></li>
            <% } %>
            <% if (fileName === 'v4/guide/index.html') { %>
                <li><h3>guide</h3></li>
            <% } %>
            <% if (fileName === 'v4/architecture/index.html') { %>
                <li><h3>architecture</h3></li>
            <% } %>
            <% if (fileName === 'v4/router/index.html') { %>
                <li><h3>router</h3></li>
            <% } %>
            <% if (fileName === 'v4/template/index.html') { %>
                <li><h3>template</h3></li>
            <% } %>
            <% if (fileName === 'v4/database/index.html') { %>
                <li><h3>database</h3></li>
            <% } %>
            <% if (fileName === 'v4/orm/index.html') { %>
                <li><h3>orm</h3></li>
            <% } %>
            <% if (fileName === 'v4/component/index.html') { %>
                <li><h3>component</h3></li>
            <% } %>
            <% if (fileName === 'v4/test/index.html') { %>
                <li><h3>test</h3></li>
            <% } %>
        <% } %>
        <li>
            <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
        </li>
    <% }) %>
</ul>
